@{
    ViewData[index: "Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>SafeVault is a secure web application designed to manage sensitive data records</p>
</div>